.cards {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 40px 50px;
    margin: 0 auto;
}

.cards__modal {
    display: none;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 4rem;
}

.cards__modal_active {
    display: block
}

.card {
    @include size(17.5rem, 28rem);
    border: 2px solid $dark-red-color;
    border-radius: 7px;
    cursor: pointer;
}

.card_active {
    box-shadow: inset 5rem 1rem 5rem 1rem $dark-red-color-opacity;
}

.card__photo {
    height: 70%;
    background-size: cover;
    border-bottom: 2px solid $dark-red-color;
}

.card__info {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    text-align: center;
}

.card__span {
    width: 100%;
}
