.filtres {
    width: 30%;
}

.purpose {
    margin-bottom: 20px;
}

.purpose__group {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.title-container {
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}

.purpose__title {
    display: inline;
    position: relative;

    &::before {
        @include stick-before;
    } 
    &::after {
        @include stick-after;
    }   
}

.purpose__choices {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.brand__item {
    width: 6.875rem;
}

.size__item {
    width: 3rem;
}

.slider__year, .slider__quantity {
    margin: 40px;
}

.noUi-connect:nth-child(1) {
    background-color: $danger-color-opacity;
}

.noUi-tooltip {
    border-radius: 10px;
}

.noUi-touch-area {
    background-color: $neutral-secondary;
    cursor: pointer;
}

.sort__container {
    height: 4rem;
    text-align: center;
}

.sorting {
    border: 0;
    width: 90%;
    height: 2rem;
    margin: 15px 0;
    cursor: pointer;
}

.settings__container {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    padding: 15px;
}

.reset-filters,
.reset-settings {
    @include size(7rem, 3rem);
    cursor: pointer;
    background-color: $border-lighter;

}








