.filtres {
    width: 30%;
}

.purpose {
    margin-bottom: 20px;
}

.purpose__group {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.purpose__title {
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    position: relative;

    &::before {
        @include stick-before;
    } 
    &::after {
        @include stick-after;
    }   
}

.purpose__choices {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.brand__item {
    width: 6.875rem;
}

.size__item {
    width: 3rem;
}

.slider__year, .slider__quantity {
    margin: 40px;
}

.noUi-connect:nth-child(1) {
    background-color: $danger-color-opacity;
}

.noUi-tooltip {
    border-radius: 10px;
}

.noUi-touch-area {
    background-color: $neutral-secondary;
    cursor: pointer;
}

.sort__container {
    width: 22rem;
    height: 4rem;
    margin: 0 auto;
}

.sorting {
    border: 0;
    width: 22rem;
    height: 2rem;
    margin: 15px auto;
    cursor: pointer;
  }








