@import './base/reset';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './components/buttons';
@import './layout/winners';
@import './layout/menu';

html {
  font-family: $mainFont;
  font-size: $mainFontSize;

  @media (max-width: $lgDesktopWidth)  {
    font-size: 16px;
  }
  @media (max-width: $desktopWidth)  {
    font-size: 14px;
  }
  @media (max-width: $smDesktopWidth)  {
    font-size: 13px;
  }
  @media (max-width: $tableWidth)  {
    font-size: 12px;
  }
}

.header, 
.footer {
  margin: 2rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: $lgDesktopWidth;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
  display: flex;
  position: relative;
}
