.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 25rem;

    & > div, form {
        display: flex;
        justify-content: space-between;
    }
}

