.menu {
    display: flex;
    justify-content: space-around;
}

table {
    vertical-align: bottom;
    width: 30rem;
}

.winners,
.time {
    cursor: pointer;
}

tr,
th,
td  {
    padding: 0;
    border: 2px solid $light-color;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 5rem;
}

.winners-car-img {
    @include size(2rem, 2rem);
}
