@import './base/reset';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './components/buttons';
@import './layout/header';
@import './layout/navigation';
@import './layout/filtres';
@import './layout/cards';
@import './layout/footer';

html {
  @media (max-width: $lgDesktopWidth)  {
    font-size: 16px;
  }
  @media (max-width: $desktopWidth)  {
    font-size: 14px;
  }
  @media (max-width: $smDesktopWidth)  {
    font-size: 13px;
  }
  @media (max-width: $tableWidth)  {
    font-size: 12px;
  }
}

.body {
  background-color: $bgColor;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: $lgDesktopWidth;
  padding: 0 1.875rem;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
  display: flex;
  margin-top: 2rem;
  position: relative;
}
