/* Vars:
  ========================================================================== */

 
// Font
$mainFont                : 'Arial';
$collection-font         : 'Adamina', serif;

// Size
$mainFontColor           : #101010;
$bgColor                 : #e7e7e7;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
// $mainLineHeight          : 1.4;

$lgDesktopWidth          : 1366px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$danger-color-opacity    : rgba(252, 92, 101, 0.3);
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #6a00ff;
$crimson-color           : #ec327a;
$crimson-color-opacity   : rgba(236, 50, 122, 0.3);
$garnet-color            : #a40d47;
$garnet-color-opacity    : rgba(164, 13, 71, 0.6);
$dark-red-color          : #7e1414;
$dark-red-color-opacity  : rgba(126, 20, 20, 0.3);

// Neutral Color
$soft-purple             : rgba(148, 104, 191, 0.3);
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Hoodie color
$black                   : #121418;
$blue                    : #8DB0D7;
$brown                   : #D3CDBE;
$gray                    : #D7D7DA;
$green                   : #ABC2A6;
$pink                    : #F7D6EB;
$white                   : #FBFCFE;
$yellow                  : #F0F09A;


