.purpose-button__item {
    appearance: none;
    @include size(2rem, 2rem);
    position: relative;
    padding: 10px;
    font-family: $mainFont;
    border: 2px solid #7e1414;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
    
    &:checked {
        background-color: $soft-purple;
    }
}

.brand_checkbox {
    transition: .1s;
}

.brand_checkbox:nth-child(1) {
    &::before {
        content: "MAZY";
        position: absolute;
        top: 18%;
        right: 28%;
    }
}

.brand_checkbox:nth-child(2) {
    &::before {
        content: "RAWR";
        position: absolute;
        top: 18%;
        right: 28%;
    }
}

.brand_checkbox:nth-child(3) {
    &::before {
        content: "WOOGEE";
        position: absolute;
        top: 18%;
        right: 20%;
    }
}

.popular_checkbox {
    appearance: none;
    @include size(2rem, 2rem);
    border: 2px solid $dark-red-color;
    border-radius: 10px;
    transition: .3s;

    &:checked {
        background: url("../assets/icons/input_tick.png") no-repeat;
        background-size: cover;
        background-color: $garnet-color-opacity;
    }

    &:hover {
        cursor: pointer;
    }
}
.size_radio {
    appearance: none;
    @include size(2rem, 2rem);
    border: 2px solid $dark-red-color;
    border-radius: 10px;
    position: relative;
    transition: .1s;

    &:checked {
        background-color: $soft-purple;
    }

    &:hover {
        cursor: pointer;
    }
}

.size_radio:nth-child(1) {
    &::before {
        content: "42";
        position: absolute;
        top: 20%;
        right: 30%;
    }
}
.size_radio:nth-child(2) {
    &::before {
        content: "44";
        position: absolute;
        top: 20%;
        right: 30%;
    }
}
.size_radio:nth-child(3) {
    &::before {
        content: "46";
        position: absolute;
        top: 20%;
        right: 30%;
    }
}
.size_radio:nth-child(4) {
    &::before {
        content: "48";
        position: absolute;
        top: 20%;
        right: 30%;
    }
}
.size_radio:nth-child(5) {
    &::before {
        content: "50";
        position: absolute;
        top: 20%;
        right: 30%;
    }
}
.size_radio:nth-child(6) {
    &::before {
        content: "52";
        position: absolute;
        top: 20%;
        right: 30%;
    }
}


