 .purpose-button__item {
    appearance: none;
    @include size(2rem, 2rem);
    position: relative;
    font-family: $mainFont;
    border: 2px solid #7e1414;
    border-radius: 10px;
    transition: .1s;

    &:hover {
        cursor: pointer;
    }
}

.purpose-button__item_active {
    background-color: $crimson-color-opacity;
}

.popular-checkbox {
    appearance: none;
    @include size(2rem, 2rem);
    border: 2px solid $dark-red-color;
    border-radius: 10px;
    transition: .3s;

    &:hover {
        cursor: pointer;
    }
}

.popular-checkbox_active {
    background: url("../assets/icons/input_tick.png") no-repeat;
    background-size: cover;
    background-color: $garnet-color-opacity;
}

.size__radio {
    appearance: none;
    @include size(2rem, 2rem);
    border: 2px solid $dark-red-color;
    border-radius: 10px;
    position: relative;
    transition: .1s;

    &:hover {
        cursor: pointer;
    }
}

.size__radio_active {
    background-color: $soft-purple;
}

.color__item:nth-child(1) {
    background-color: $black;
}
.color__item:nth-child(2) {
        background-color: $blue;
}
.color__item:nth-child(3) {
        background-color: $brown;
}
.color__item:nth-child(4) {
        background-color: $gray;
}
.color__item:nth-child(5) {
        background-color: $green;
}
.color__item:nth-child(6) {
        background-color: $pink;
}
.color__item:nth-child(7) {
        background-color: $white;
}
.color__item:nth-child(8) {
        background-color: $yellow;
}

.color__item {
    appearance: none;
    @include size(2rem, 2rem);
    border: 2px solid $dark-red-color;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}

.color__item_active {
    background-image: url("../assets/icons/tick.png");
    background-repeat: no-repeat;
    background-position: center;
}

